body {
    width: 80%;
    margin: 30px auto 0 auto;
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #c6c6c6;
}

.font {
    font-family: 'Merriweather Sans', sans-serif;
}

:root{
    --first-blue: #007bff;
    --second-blue: #0054AD;
    --third-blue: #003670;

    --second-blue-hover: #004289;
    --third-blue-hover: #001F41;

    --instagram-color: #943AE7;
}

.header-second-btn-color {
    background: var(--second-blue);
    outline: 0;
    border-color: var(--second-blue);
}

.header-second-btn-color:hover, .header-second-btn-color:active, .header-second-btn-color:focus {
    background: var(--second-blue-hover) !important;
    outline: 0;
    border-color: var(--second-blue-hover);
}

.header-third-btn-color {
    background: var(--third-blue);
    outline: 0;
    border-color: var(--third-blue);
}

.header-third-btn-color:hover, .header-third-btn-color:active, .header-third-btn-color:focus {
    background: var(--third-blue-hover) !important;
    outline: 0;
    border-color: var(--third-blue-hover);
}

.header-font {
    font-size: 13px;
}

.header-second-btn-color:active {
    outline: 0;
    background: transparent;
}

.nav-item a:focus,
.nav-item a:active,
.nav-item a:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

.content {
    background-color: #fff;
    border-top: 3px solid var(--first-blue);
}

.text-color {
    color: var(--first-blue);
}

.text-color-two {
    color: var(--second-blue)
}

.about-face {
    width: 50%;
}

.hr-style {
    margin-top: 5rem !important;
}

.background-twitter {
    background-color: var(--first-blue);
    width: 7%;
}

.background-instagram {
    background-color: var(--instagram-color);
    width: 7%;
    margin-left: 20px;
}

.background-facebook {
    background-color: var(--second-blue);
    width: 7%;
    margin-left: 20px;
}

.social-media-h {
    height: 150px !important;
}